<style>
	* {
		margin: 0;
		padding: 0;
		-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none; /* Safari */
		   -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
				  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	}
	body {
		overflow: hidden;
		background-color: white;
	}
	canvas {
		border: 1px solid #f0f0f0;
	}
	.debug {
		position: absolute;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 12px;
	}
</style>
